
html {
  background-image: linear-gradient(141deg, #1c6e8c 0%, #2899c2 71%, #2ec4fa 100%);
 }

footer {
  padding: 1.5rem 0;
  background-color: #f7f7f7;
}

.is-margin-right {
  margin-right: 30px;
}
.is-margin-top {
  margin-top: 15px;
}
.is-margin-left {
  margin-left: 30px;
}
.is-margin-bottom {
  margin-bottom: 30px;
}


.input, .textarea {
  border: solid 1px #d8d8d8;
}

.hero.is-primary.is-bold {
  background-image: linear-gradient(141deg, #1c6e8c 0%, #2899c2 71%, #2ec4fa 100%);
}

.level {
    align-items: center;
    justify-content: space-between;
  }
  
  .level code {
    border-radius: 4px;
  }
  
  .level img {
    display: inline-block;
    vertical-align: top;
  }
  
  .level.is-mobile {
    display: flex;
  }
  
  .level.is-mobile .level-left,
  .level.is-mobile .level-right {
    display: flex;
  }
  
  .level.is-mobile .level-left + .level-right {
    margin-top: 0;
  }
  
  .level.is-mobile .level-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
  
  .level.is-mobile .level-item:not(.is-narrow) {
    flex-grow: 1;
  }
  
  @media screen and (min-width: 769px), print {
    .level {
      display: flex;
    }
    .level > .level-item:not(.is-narrow) {
      flex-grow: 1;
    }
  }
  
  .level-item {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
  }
  
  .level-item .title,
  .level-item .subtitle {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 768px) {
    .level-item:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }
  
  .level-left,
  .level-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .level-left .level-item.is-flexible,
  .level-right .level-item.is-flexible {
    flex-grow: 1;
  }
  
  @media screen and (min-width: 769px), print {
    .level-left .level-item:not(:last-child),
    .level-right .level-item:not(:last-child) {
      margin-right: 0.75rem;
    }
  }
  
  .level-left {
    align-items: center;
    justify-content: flex-start;
  }
  
  @media screen and (max-width: 768px) {
    .level-left + .level-right {
      margin-top: 1.5rem;
    }
  }
  
  @media screen and (min-width: 769px), print {
    .level-left {
      display: flex;
    }
  }
  
  .level-right {
    align-items: center;
    justify-content: flex-end;
  }
  
  @media screen and (min-width: 769px), print {
    .level-right {
      display: flex;
    }
  }
  
  .columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
  }
  
  .columns:last-child {
    margin-bottom: -0.75rem;
  }
  
  .columns:not(:last-child) {
    margin-bottom: calc(1.5rem - 0.75rem);
  }
  
  .columns.is-centered {
    justify-content: center;
  }
  
  .columns.is-gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
  
  .columns.is-gapless > .column {
    margin: 0;
    padding: 0 !important;
  }
  
  .columns.is-gapless:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  
  .columns.is-gapless:last-child {
    margin-bottom: 0;
  }
  
  .columns.is-mobile {
    display: flex;
  }
  
  .columns.is-multiline {
    flex-wrap: wrap;
  }
  
  .columns.is-vcentered {
    align-items: center;
  }
  
  @media screen and (min-width: 769px), print {
    .columns:not(.is-desktop) {
      display: flex;
    }
  }
  
  @media screen and (min-width: 1088px) {
    .columns.is-desktop {
      display: flex;
    }
  }
  
  .columns.is-variable {
    --columnGap: 0.75rem;
    margin-left: calc(-1 * var(--columnGap));
    margin-right: calc(-1 * var(--columnGap));
  }
  
  .column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
  }

  .columns.is-variable .column {
    padding-left: var(--columnGap);
    padding-right: var(--columnGap);
  }
  
  .columns.is-variable.is-0 {
    --columnGap: 0rem;
  }
  
  @media screen and (max-width: 768px) {
    .columns.is-variable.is-0-mobile {
      --columnGap: 0rem;
    }
  }
  
  @media screen and (min-width: 769px), print {
    .columns.is-variable.is-0-tablet {
      --columnGap: 0rem;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1087px) {
    .columns.is-variable.is-0-tablet-only {
      --columnGap: 0rem;
    }
  }
  
  @media screen and (max-width: 1087px) {
    .columns.is-variable.is-0-touch {
      --columnGap: 0rem;
    }
  }
  
  @media screen and (min-width: 1088px) {
    .columns.is-variable.is-0-desktop {
      --columnGap: 0rem;
    }
  }
  
  @media screen and (min-width: 1088px) and (max-width: 1279px) {
    .columns.is-variable.is-0-desktop-only {
      --columnGap: 0rem;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .columns.is-variable.is-0-widescreen {
      --columnGap: 0rem;
    }
  }
  
  @media screen and (min-width: 1280px) and (max-width: 1471px) {
    .columns.is-variable.is-0-widescreen-only {
      --columnGap: 0rem;
    }
  }
  
  @media screen and (min-width: 1472px) {
    .columns.is-variable.is-0-fullhd {
      --columnGap: 0rem;
    }
  }
  
  .columns.is-variable.is-1 {
    --columnGap: 0.25rem;
  }
  
  @media screen and (max-width: 768px) {
    .columns.is-variable.is-1-mobile {
      --columnGap: 0.25rem;
    }
  }
  
  @media screen and (min-width: 769px), print {
    .columns.is-variable.is-1-tablet {
      --columnGap: 0.25rem;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1087px) {
    .columns.is-variable.is-1-tablet-only {
      --columnGap: 0.25rem;
    }
  }
  
  @media screen and (max-width: 1087px) {
    .columns.is-variable.is-1-touch {
      --columnGap: 0.25rem;
    }
  }
  
  @media screen and (min-width: 1088px) {
    .columns.is-variable.is-1-desktop {
      --columnGap: 0.25rem;
    }
  }
  
  @media screen and (min-width: 1088px) and (max-width: 1279px) {
    .columns.is-variable.is-1-desktop-only {
      --columnGap: 0.25rem;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .columns.is-variable.is-1-widescreen {
      --columnGap: 0.25rem;
    }
  }
  
  @media screen and (min-width: 1280px) and (max-width: 1471px) {
    .columns.is-variable.is-1-widescreen-only {
      --columnGap: 0.25rem;
    }
  }
  
  @media screen and (min-width: 1472px) {
    .columns.is-variable.is-1-fullhd {
      --columnGap: 0.25rem;
    }
  }
  
  .columns.is-variable.is-2 {
    --columnGap: 0.5rem;
  }
  
  @media screen and (max-width: 768px) {
    .columns.is-variable.is-2-mobile {
      --columnGap: 0.5rem;
    }
  }
  
  @media screen and (min-width: 769px), print {
    .columns.is-variable.is-2-tablet {
      --columnGap: 0.5rem;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1087px) {
    .columns.is-variable.is-2-tablet-only {
      --columnGap: 0.5rem;
    }
  }
  
  @media screen and (max-width: 1087px) {
    .columns.is-variable.is-2-touch {
      --columnGap: 0.5rem;
    }
  }
  
  @media screen and (min-width: 1088px) {
    .columns.is-variable.is-2-desktop {
      --columnGap: 0.5rem;
    }
  }
  
  @media screen and (min-width: 1088px) and (max-width: 1279px) {
    .columns.is-variable.is-2-desktop-only {
      --columnGap: 0.5rem;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .columns.is-variable.is-2-widescreen {
      --columnGap: 0.5rem;
    }
  }
  
  @media screen and (min-width: 1280px) and (max-width: 1471px) {
    .columns.is-variable.is-2-widescreen-only {
      --columnGap: 0.5rem;
    }
  }
  
  @media screen and (min-width: 1472px) {
    .columns.is-variable.is-2-fullhd {
      --columnGap: 0.5rem;
    }
  }
  
  .columns.is-variable.is-3 {
    --columnGap: 0.75rem;
  }
  
  @media screen and (max-width: 768px) {
    .columns.is-variable.is-3-mobile {
      --columnGap: 0.75rem;
    }
  }
  
  @media screen and (min-width: 769px), print {
    .columns.is-variable.is-3-tablet {
      --columnGap: 0.75rem;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1087px) {
    .columns.is-variable.is-3-tablet-only {
      --columnGap: 0.75rem;
    }
  }
  
  @media screen and (max-width: 1087px) {
    .columns.is-variable.is-3-touch {
      --columnGap: 0.75rem;
    }
  }
  
  @media screen and (min-width: 1088px) {
    .columns.is-variable.is-3-desktop {
      --columnGap: 0.75rem;
    }
  }
  
  @media screen and (min-width: 1088px) and (max-width: 1279px) {
    .columns.is-variable.is-3-desktop-only {
      --columnGap: 0.75rem;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .columns.is-variable.is-3-widescreen {
      --columnGap: 0.75rem;
    }
  }
  
  @media screen and (min-width: 1280px) and (max-width: 1471px) {
    .columns.is-variable.is-3-widescreen-only {
      --columnGap: 0.75rem;
    }
  }
  
  @media screen and (min-width: 1472px) {
    .columns.is-variable.is-3-fullhd {
      --columnGap: 0.75rem;
    }
  }
  
  .columns.is-variable.is-4 {
    --columnGap: 1rem;
  }
  
  @media screen and (max-width: 768px) {
    .columns.is-variable.is-4-mobile {
      --columnGap: 1rem;
    }
  }
  
  @media screen and (min-width: 769px), print {
    .columns.is-variable.is-4-tablet {
      --columnGap: 1rem;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1087px) {
    .columns.is-variable.is-4-tablet-only {
      --columnGap: 1rem;
    }
  }
  
  @media screen and (max-width: 1087px) {
    .columns.is-variable.is-4-touch {
      --columnGap: 1rem;
    }
  }
  
  @media screen and (min-width: 1088px) {
    .columns.is-variable.is-4-desktop {
      --columnGap: 1rem;
    }
  }
  
  @media screen and (min-width: 1088px) and (max-width: 1279px) {
    .columns.is-variable.is-4-desktop-only {
      --columnGap: 1rem;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .columns.is-variable.is-4-widescreen {
      --columnGap: 1rem;
    }
  }
  
  @media screen and (min-width: 1280px) and (max-width: 1471px) {
    .columns.is-variable.is-4-widescreen-only {
      --columnGap: 1rem;
    }
  }
  
  @media screen and (min-width: 1472px) {
    .columns.is-variable.is-4-fullhd {
      --columnGap: 1rem;
    }
  }
  
  .columns.is-variable.is-5 {
    --columnGap: 1.25rem;
  }
  
  @media screen and (max-width: 768px) {
    .columns.is-variable.is-5-mobile {
      --columnGap: 1.25rem;
    }
  }
  
  @media screen and (min-width: 769px), print {
    .columns.is-variable.is-5-tablet {
      --columnGap: 1.25rem;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1087px) {
    .columns.is-variable.is-5-tablet-only {
      --columnGap: 1.25rem;
    }
  }
  
  @media screen and (max-width: 1087px) {
    .columns.is-variable.is-5-touch {
      --columnGap: 1.25rem;
    }
  }
  
  @media screen and (min-width: 1088px) {
    .columns.is-variable.is-5-desktop {
      --columnGap: 1.25rem;
    }
  }
  
  @media screen and (min-width: 1088px) and (max-width: 1279px) {
    .columns.is-variable.is-5-desktop-only {
      --columnGap: 1.25rem;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .columns.is-variable.is-5-widescreen {
      --columnGap: 1.25rem;
    }
  }
  
  @media screen and (min-width: 1280px) and (max-width: 1471px) {
    .columns.is-variable.is-5-widescreen-only {
      --columnGap: 1.25rem;
    }
  }
  
  @media screen and (min-width: 1472px) {
    .columns.is-variable.is-5-fullhd {
      --columnGap: 1.25rem;
    }
  }
  
  .columns.is-variable.is-6 {
    --columnGap: 1.5rem;
  }
  
  @media screen and (max-width: 768px) {
    .columns.is-variable.is-6-mobile {
      --columnGap: 1.5rem;
    }
  }
  
  @media screen and (min-width: 769px), print {
    .columns.is-variable.is-6-tablet {
      --columnGap: 1.5rem;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1087px) {
    .columns.is-variable.is-6-tablet-only {
      --columnGap: 1.5rem;
    }
  }
  
  @media screen and (max-width: 1087px) {
    .columns.is-variable.is-6-touch {
      --columnGap: 1.5rem;
    }
  }
  
  @media screen and (min-width: 1088px) {
    .columns.is-variable.is-6-desktop {
      --columnGap: 1.5rem;
    }
  }
  
  @media screen and (min-width: 1088px) and (max-width: 1279px) {
    .columns.is-variable.is-6-desktop-only {
      --columnGap: 1.5rem;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .columns.is-variable.is-6-widescreen {
      --columnGap: 1.5rem;
    }
  }
  
  @media screen and (min-width: 1280px) and (max-width: 1471px) {
    .columns.is-variable.is-6-widescreen-only {
      --columnGap: 1.5rem;
    }
  }
  
  @media screen and (min-width: 1472px) {
    .columns.is-variable.is-6-fullhd {
      --columnGap: 1.5rem;
    }
  }
  
  .columns.is-variable.is-7 {
    --columnGap: 1.75rem;
  }
  
  @media screen and (max-width: 768px) {
    .columns.is-variable.is-7-mobile {
      --columnGap: 1.75rem;
    }
  }
  
  @media screen and (min-width: 769px), print {
    .columns.is-variable.is-7-tablet {
      --columnGap: 1.75rem;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1087px) {
    .columns.is-variable.is-7-tablet-only {
      --columnGap: 1.75rem;
    }
  }
  
  @media screen and (max-width: 1087px) {
    .columns.is-variable.is-7-touch {
      --columnGap: 1.75rem;
    }
  }
  
  @media screen and (min-width: 1088px) {
    .columns.is-variable.is-7-desktop {
      --columnGap: 1.75rem;
    }
  }
  
  @media screen and (min-width: 1088px) and (max-width: 1279px) {
    .columns.is-variable.is-7-desktop-only {
      --columnGap: 1.75rem;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .columns.is-variable.is-7-widescreen {
      --columnGap: 1.75rem;
    }
  }
  
  @media screen and (min-width: 1280px) and (max-width: 1471px) {
    .columns.is-variable.is-7-widescreen-only {
      --columnGap: 1.75rem;
    }
  }
  
  @media screen and (min-width: 1472px) {
    .columns.is-variable.is-7-fullhd {
      --columnGap: 1.75rem;
    }
  }
  
  .columns.is-variable.is-8 {
    --columnGap: 2rem;
  }
  
  @media screen and (max-width: 768px) {
    .columns.is-variable.is-8-mobile {
      --columnGap: 2rem;
    }
  }
  
  @media screen and (min-width: 769px), print {
    .columns.is-variable.is-8-tablet {
      --columnGap: 2rem;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1087px) {
    .columns.is-variable.is-8-tablet-only {
      --columnGap: 2rem;
    }
  }
  
  @media screen and (max-width: 1087px) {
    .columns.is-variable.is-8-touch {
      --columnGap: 2rem;
    }
  }
  
  @media screen and (min-width: 1088px) {
    .columns.is-variable.is-8-desktop {
      --columnGap: 2rem;
    }
  }
  
  @media screen and (min-width: 1088px) and (max-width: 1279px) {
    .columns.is-variable.is-8-desktop-only {
      --columnGap: 2rem;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .columns.is-variable.is-8-widescreen {
      --columnGap: 2rem;
    }
  }
  
  @media screen and (min-width: 1280px) and (max-width: 1471px) {
    .columns.is-variable.is-8-widescreen-only {
      --columnGap: 2rem;
    }
  }
  
  @media screen and (min-width: 1472px) {
    .columns.is-variable.is-8-fullhd {
      --columnGap: 2rem;
    }
  }

  